# See http://help.github.com/ignore-files/ for more about ignoring files.

# Compiled output
evernoteClient/dist

# word
*.docx

# Node
evernoteClient/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
evernoteServer/.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
evernoteClient/.vscode
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
evernoteClient/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db

# Default ignored files
evernoteServer//shelf/
evernoteServer//workspace.xml
# Editor-based HTTP Client requests
evernoteServer//httpRequests/
# Datasource local storage ignored files
evernoteServer//dataSources/
evernoteServer//dataSources.local.xml