<div class="ui card">
    <div class="image">
        <img [src]="user.profile_image || 'https://as1.ftcdn.net/v2/jpg/03/46/83/96/1000_F_346839683_6nAPzbhpSkIpb8pmAwufkC7c5eD7wYws.jpg'"
            alt="Profile Image">
    </div>
    <div class="content">
        <div class="header">{{ user.first_name }} {{ user.last_name }}</div>
        <div class="meta">
            <span class="date">{{ user.email }}</span>
        </div>
        <div class="description">
            User ID: {{ user.id }}
            @if(user.admin == true){ <div class="ui teal label">Admin</div> }
            @if(user.admin == false){ <div class="ui label">User</div> }
        </div>
    </div>
    <div class="extra content">
        <a>
            <i class="user icon"></i>
            Email Verified: {{ user.email_verified_at ? 'Yes' : 'No' }}
        </a>
    </div>
</div>


@if(tags.length > 0){
<div class="ui divider"></div>
<h2 class="header">Tags:</h2>
<a [routerLink]="['/edit/tags']" class="ui green button">
    <i class="plus icon"></i> Tag erstellen
</a>
<div class="ui middle aligned selection divided list">
    @for (tag of tags; track tag; let l =$last) {
        <div>
            <div class="ui tag label">{{ tag.name }}</div>
            <button class="ui red button" (click)="removeTag(tag.id)">Tag löschen</button>
            <a [routerLink]="['/edit/tags', tag.id]" class="ui yellow button">
                <i class="edit icon"></i> Tag bearbeiten
            </a>
        </div>
        @if(!l){<div class="ui divider"></div>}
    }
</div>
}